body{
    background-image: url(aaryanpokhrel.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        background-color: white;
        border-radius: 15px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navimg{
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.navitems{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    color: black;
    gap: 45px;
}

.headtitle{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}

.learnm{
    color: white;
    border-radius: 10px;
    background-color: rgb(255, 0, 255);
    width: fit-content;
    font-size: 20px;
    padding: 5px 5px;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.learnm a{
    color: white;
    border-radius: 10px;
    background-color: rgb(255, 0, 255);
    width: fit-content;
    padding: 5px 5px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.learnm:hover {
    background-color: #da70d6;
    cursor: pointer;
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
    }

    .navbar a{
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .navimg {
        justify-content: center;
        padding: 10px 0;
        width: 100%;
    }

    .navitems {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        padding: 10px 0;
        width: 100%;
    }

    .headtitle {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

.learnm{
         font-size: 20px;
        padding: 8px 12px;
        align-self: center;
        margin-top: 10px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .learnm a{
         font-size: 20px;
        padding: 8px 12px;
        align-self: center;
        margin-top: 10px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    body {
        background-attachment: scroll;
        background-image: url(aaryanpokhrelmob.png);
        background-repeat: no-repeat;
    background-size: cover;
      background-position: center center;
     min-height: 100vh;
     margin: 0;
     padding: 0;
        height: 100%;
    }
}